
service: basic

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221

# you can overwrite defaults here
 stage: dev
 region: ap-south-1


functions:
  hello:
    handler: src/handler.generaterandomnumber
